@using JiraEpicRoadmapper.UI.Models
@inject IViewOptions ViewOptions;
<div class="control-panel">
    <div>
        <ToggleButton CheckedText="|&lt;" UncheckedText="|>" OnClick="TogglePanel" Checked="@PanelVisible" />
        <ToggleButton CheckedText="Show closed" UncheckedText="Hide closed" OnClick="@ViewOptions.ToggleClosed" Checked="@ViewOptions.ShowClosed" Collapsed="@(!PanelVisible)" />
        <ToggleButton CheckedText="Show unplanned" UncheckedText="Hide unplanned" OnClick="@ViewOptions.ToggleUnplanned" Checked="@ViewOptions.ShowUnplanned" Collapsed="@(!PanelVisible)" />
    </div>
    @if (SelectedEpic != null && PanelVisible)
    {
        <EpicDetailsView Card="@SelectedEpic" />
    }
</div>

@code {
    //TODO: test the component!
    private EpicCard _selectedEpic;
    private bool PanelVisible { get; set; }


    [Parameter]
    public EpicCard SelectedEpic
    {
        get => _selectedEpic;
        set
        {
            _selectedEpic = value;
            if (_selectedEpic != null)
                PanelVisible = true;
        }
    }

    void TogglePanel(bool visibility)
    {
        PanelVisible = visibility;
    }

}
