@using JiraEpicRoadmapper.Contracts
@using JiraEpicRoadmapper.UI.Domain
@using JiraEpicRoadmapper.UI.Models
@using JiraEpicRoadmapper.UI.Repositories
@using JiraEpicRoadmapper.UI.Services
@inject IViewOptions ViewOptions;
@inject IEpicsRepository Repository;
@implements IDisposable;
<div class="epics-panel" style="width: @(Roadmap.TotalDays * LayoutSettings.DaySpan)px; height: @(Roadmap.TotalRows * LayoutSettings.RowHeight)px" @onclick="@(() => HandleCardSelection(null))">
    @foreach (var m in Roadmap.Timeline.GetMondays())
    {
        <DayIndicator Day="@m" />
        @if (m.Date.Day < 8)
        {
            @foreach (var p in Roadmap.Projects)
            {
                <ProjectHeader DayIndex="@m.Index" RowIndex="@p.ProjectRowIndex" Name="@p.Name" />
            }
        }
    }
    <TodayIndicator Day="@Roadmap.Timeline.Today" />
    @foreach (var e in Roadmap.EpicBlocks)
    {
        <EpicCardView Card="@e" Selected="@(SelectedBlock==e)" OnCardSelect="HandleCardSelection" />
    }
</div>

@code
{
    private IReadOnlyList<Epic> _epics;
    private DateTimeOffset? _today;
    private bool _triggerScrollToToday = true;
    public EpicCard SelectedBlock { get; private set; }
    public EpicsRoadmap Roadmap { get; private set; }

    [Parameter]
    public EventCallback<EpicCard> OnCardSelect { get; set; }

    [Parameter]
    public DateTimeOffset? Today
    {
        get => _today;
        set
        {
            _today = value;
            Roadmap = null;
        }
    }

    [Parameter]
    public IReadOnlyList<Epic> Epics
    {
        get => _epics;
        set
        {
            if (_epics != value)
            {
                _epics = value;
                Roadmap = null;
            }
        }
    }

    [Parameter]
    public EventCallback<int> OnScrollToTodayRequest { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Roadmap == null || !_triggerScrollToToday)
            return;

        _triggerScrollToToday = false;
        await OnScrollToTodayRequest.InvokeAsync(Roadmap.Timeline.Today.Index * LayoutSettings.DaySpan);
    }

    protected override async Task OnInitializedAsync()
    {
        ViewOptions.OptionsChanged += UpdateRoadmap;

        if (Roadmap == null)
            await OnEpicsUpdate();
    }


    private async Task OnEpicsUpdate()
    {
        Roadmap = new EpicsRoadmap(Epics, Today);
        UpdateRoadmap();
        await Task.WhenAll(Roadmap.Map.Epics.Select(FetchStats));
    }

    private async Task FetchStats(EpicMetadata epic)
    {
        epic.Stats = await Repository.FetchEpicStats(epic.Epic.Key);
    }

    private async Task HandleCardSelection(EpicCard card)
    {
        SelectedBlock = card;
        await OnCardSelect.InvokeAsync(card);
    }

    private void UpdateRoadmap()
    {
        Roadmap.UpdateLayout(new LayoutDesigner(), ViewOptions);
        StateHasChanged();
    }

    public void Dispose()
    {
        ViewOptions.OptionsChanged -= UpdateRoadmap;
    }
}
