@using System.Text
@using JiraEpicRoadmapper.Client.Model
@using JiraEpicRoadmapper.Models
@inject HttpClient Http

<a href="@(Block.Epic.Url)" target="_blank" class="epic" style="left: @(Block.StartIndex *LayoutSettings. DaySpan + LayoutSettings.CellMargin)px; width: @((Block.EndIndex - Block.StartIndex) * LayoutSettings.DaySpan - 2 *LayoutSettings. CellMargin)px; top: @(Block.Row * LayoutSettings.RowHeight + LayoutSettings.RowMargin)px; height: @(LayoutSettings.TicketHeight)px;">
    <div class="epic-card" style="background-color: @(CardColor)">
        <p>@(MapStatus(Block.Epic))@(Block.Epic.Summary)</p>
        <div class="progressBar @(_stats==null?"loading":"")" style="@(GetProgressBar(_stats))">&nbsp;</div>
    </div>
</a>

@code {
    [Parameter]
    public EpicBlock Block { get; set; }
    [Parameter]
    public string CardColor { get; set; }

    public EpicStats _stats { get; set; }

    private string MapStatus(Epic e)
    {
        var builder = new StringBuilder();
        if (string.Equals(e.Status, "done", StringComparison.OrdinalIgnoreCase))
            builder.Append("✔️");
        else if (string.Equals(e.Status, "in progress", StringComparison.OrdinalIgnoreCase))
            builder.Append("⚙️");
        else if (string.Equals(e.Status, "to do", StringComparison.OrdinalIgnoreCase))
            builder.Append("❔");

        if (!e.DueDate.HasValue || !e.StartDate.HasValue || e.StartDate > e.DueDate)
            builder.Append("⚠️");
        return builder.ToString();
    }

    protected override async Task OnInitializedAsync()
    {
        _stats = await Http.GetJsonAsync<EpicStats>($"epics/{Block.Epic.Key}/stats");
    }

    private string GetProgressBar(EpicStats s)
    {
        if (s == null)
            return "";
        if (s.Total <= 0)
            return "background-color: #f0f0f0";

        var sb = new StringBuilder();
        sb.Append("background:linear-gradient(to right");
        var done = s.DonePercentage;
        var progress = s.InProgressPercentage + s.DonePercentage;

        if (done > 0)
            sb.Append($", #50ff50 0% {done}%");

        if (progress > done)
            sb.Append($", #5050ff {done}% {progress}%");

        if (progress < 100)
            sb.Append($", #505050 {progress}% 100%");

        sb.Append(");");
        return sb.ToString();
    }

}
