@page "/"
@using JiraEpicRoadmapper.Shared
@inject HttpClient Http

@if (_timeline == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="canvas" style="width: @(_timeline.MaxIndex* DaySpan)px;height:@(_timeline.Rows* RowHeight)px">
        @foreach (var d in _timeline.GetToday())
        {
            <div class="today" style="left: @(d.index*DaySpan)px; height: @(_timeline.Rows*RowHeight)px;"><br />@(d.day.ToString("dd/MM")) (today)</div>
        }
        @foreach (var d in _timeline.GetMondays())
        {
            <div class="week" style="left: @(d.index * DaySpan)px; height: @(_timeline.Rows * RowHeight)px;">@(d.day.ToString("dd/MM"))</div>
            @if (d.day.Day < 8)
            {
                @foreach (var p in _timeline.GetProjectRows())
                {
                    <div class="project" style="left: @(d.index * DaySpan)px; top: @(p.row * RowHeight)px;">@(p.project)</div>
                }
            }
        }
        @foreach (var e in _timeline.Epics)
        {
            <div class="epic" style="left: @(e.startIndex * DaySpan + CellMargin)px; width: @((e.endIndex - e.startIndex) * DaySpan - 2 * CellMargin)px; top: @(e.row * RowHeight + RowMargin)px; height: @(TicketHeight)px; background-color: @(GetColor(e.epic.Project))">
                <a href="@(e.epic.Url)" target="_blank">@(e.epic.Summary)</a>
            </div>
        }
        <svg style="width: @(_timeline.MaxIndex* DaySpan)px;height:@(_timeline.Rows* RowHeight)px">
            @foreach (var e in _timeline.Epics)
            {
                foreach (var link in e.epic.Links)
                {
                    foreach (var eTo in _timeline.Epics)
                    {
                        if (eTo.epic.Id == link.OutwardId)
                        {
                            var color = eTo.startIndex >= e.endIndex ? "rgba(0,255,0,0.5)" : "rgba(255,0,0,0.5)";
                            <line x1="@((e.endIndex) * DaySpan - CellMargin)" y1="@((e.row+0.5) * RowHeight)" x2="@(eTo.startIndex * DaySpan + CellMargin)" y2="@((eTo.row+0.5) * RowHeight)" style="stroke:@(color); stroke-width: 1" />
                            break;
                        }
                    }
                }
            }
        </svg>
    </div>
}

@code {
    private static readonly int DaySpan = 60;
    private static readonly int CellMargin = 10;
    private static readonly int TicketHeight = 40;
    private static readonly int RowMargin = 10;
    private static readonly int RowHeight = TicketHeight + 2 * RowMargin;
    private static readonly string[] ProjectColors = new[]
    {
        "#ff9999",
        "#99ff99",
        "#ffff99",
        "#ff99ff",
        "#99ffff",
        "#9999ff"
    };
    private IReadOnlyDictionary<string, string> _projectColorMap = new Dictionary<string, string>();
    private Timeline _timeline;

    protected override async Task OnInitializedAsync()
    {
        _timeline = new Timeline(await Http.GetJsonAsync<Epic[]>("epics"));
        _projectColorMap = _timeline.Projects
            .Select((p, i) => (p.Name, color: ProjectColors[i % ProjectColors.Length]))
            .ToDictionary(x => x.Name, x => x.color);
    }

    private string GetColor(string project)
    {
        return _projectColorMap.TryGetValue(project, out var color) ? color : "#afefff";
    }

}