@page "/"
@using System.ComponentModel
@using System.Text
@using JiraEpicRoadmapper.Client.Model
@using JiraEpicRoadmapper.Models
@inject HttpClient Http

@if (_timeline == null)
{
    <div class="loading banner">Loading...</div>
}
else
{
    <div class="controls">
        <div>
            <ToggleButton CheckedText="|&lt;" UncheckedText="|>" OnClick="TogglePanel" Checked="@PanelVisibility" />
            <Button Text="Refresh" Collapsed="@(!PanelVisibility)" OnClick="Refresh" />
            <ToggleButton CheckedText="Compact view" UncheckedText="Show dependencies" OnClick="ToggleView" Checked="@ShowDependencies" Collapsed="@(!PanelVisibility)"/>
        </div>
    </div>
    <div class="canvas" style="width: @(_timeline.MaxIndex* LayoutSettings.DaySpan)px;height:@(_timeline.TotalRows* LayoutSettings.RowHeight)px">
        @foreach (var d in _timeline.GetToday())
        {
            <div class="today" style="left: @(d.index*LayoutSettings.DaySpan)px; height: @(_timeline.TotalRows*LayoutSettings.RowHeight)px;"><br />@(d.day.ToString("dd/MM")) (today)</div>
        }
        @foreach (var d in _timeline.GetMondays())
        {
            <div class="week" style="left: @(d.index * LayoutSettings.DaySpan)px; height: @(_timeline.TotalRows * LayoutSettings.RowHeight)px;">@(d.day.ToString("dd/MM"))</div>
            @if (d.day.Day < 8)
            {
                @foreach (var p in _timeline.Projects)
                {
                    <div class="project" style="left: @(d.index * LayoutSettings.DaySpan)px; top: @(p.ProjectRowIndex * LayoutSettings.RowHeight)px;">@(p.Name)</div>
                }
            }
        }
        @foreach (var e in _timeline.EpicMap.Epics)
        {
            <EpicBlockComponent CardColor="@GetColor(e.Epic.Project)" Block="e" />
        }
        <svg style="width: @(_timeline.MaxIndex * LayoutSettings.DaySpan)px; height: @(_timeline.TotalRows * LayoutSettings.RowHeight)px">
            @if (ShowDependencies)
            {
                @foreach (var e in _timeline.EpicMap.Epics)
                {
                    @foreach (var eTo in e.Dependents)
                    {
                        var color = eTo.StartIndex >= e.EndIndex ? "rgba(0,180,0,0.9)" : "rgba(180,0,0,0.9)";
                        <line x1="@((e.EndIndex) * LayoutSettings.DaySpan - LayoutSettings.CellMargin)" y1="@((e.Row + 0.5) * LayoutSettings.RowHeight)" x2="@(eTo.StartIndex * LayoutSettings.DaySpan + LayoutSettings.CellMargin)" y2="@((eTo.Row + 0.5) * LayoutSettings.RowHeight)" style="stroke: @(color); stroke-width: 1; stroke-dasharray: 5, 5"/>
                    }
                }
            }
        </svg>
    </div>
}

@code {
    private static readonly string[] ProjectColors = new[]
    {
        "#9999ff",
        "#ff9999",
        "#99ff99",
        "#ffff99",
        "#ff99ff",
        "#99ffff"
    };
    private IReadOnlyDictionary<string, string> _projectColorMap = new Dictionary<string, string>();
    private Timeline _timeline;
    private bool PanelVisibility { get; set; }
    public bool ShowDependencies { get; set; } = true;


    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        _timeline = null;
        _timeline = new Timeline(await Http.GetJsonAsync<Epic[]>("epics"),ShowDependencies);
        _projectColorMap = _timeline.Projects
            .Select((p, i) => (p.Name, color: ProjectColors[i % ProjectColors.Length]))
            .ToDictionary(x => x.Name, x => x.color);
    }

    private string GetColor(string project)
    {
        return _projectColorMap.TryGetValue(project, out var color) ? color : "#afefff";
    }

    private void TogglePanel(bool visible) => PanelVisibility = visible;
    private void ToggleView(bool showDependencies)
    {
        ShowDependencies = showDependencies;
        _timeline.UpdateLayout(ShowDependencies);
    }

}